.header-container {
  width: 100vw;
  max-width: 100%;
  height: 750px;
  background-image: url(./header_image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome {
  font-family: 'Inria Serif', serif;
  color: white;
  text-transform: capitalize;
  font-style: italic;
  font-size: 46px;
  text-shadow: rgba(0, 0, 0, 0.486) 1px 1px 5px;
}

.greeting {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 72px;
  font-weight: 900;
  margin: 25px 0;
  text-shadow: rgba(0, 0, 0, 0.486) 1px 1px 5px;
}

.info-button {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 900;
  text-transform: uppercase;
  color: white;
  background-color: rgb(255, 217, 0);
  border: none;
  height: 75px;
  width: 200px;
  border-radius: 5px;
  margin-top: 20px;
}

.info-button:hover {
  cursor: pointer;
  background-color: rgb(255, 200, 0);
}

@media (max-width: 850px) {
  .welcome {
    font-size: 22px;
  }

  .greeting {
    font-size: 28px;
  }
}